@import '../../styles/reset/reset.scss';
@import '../../styles/header/header.scss';
@import '../../styles/footer/footer.scss';
@import '../../../node_modules/@splidejs/splide/dist/css/splide.min.css';
// splide.min.css

.post {
    padding: 2.5% 2% 0;
}

.post__item {
    margin-bottom: 8%;
}
.post__item--text:not(.big-text) {
    font-size: 2.77vw;
}
.post__item--text p {
    line-height: 1.2;
    margin-bottom: 4%;
    text-transform: none;
}

.big-center, .big-left, 
.big-fill, .big-right, .big-text {
    font-weight: normal;
    font-size: 5.555vw;
}

.big-left, .left-plus {
    text-align: left;
}

.big-right, .right-plus {
    text-align: right;
}
.big-center, .center-plus {
    text-align: center;
}

.big-fill  b {
    display: block;
    text-align: center;
}

.left-plus.post__title--media, 
.right-plus.post__title--media, 
.center-plus.post__title--media {
    font-size: 5vw;
}

.left-plus .post__title-pic,
.right-plus .post__title-pic,
.center-plus .post__title-pic, 
.post__title-pic--plus {
    display: none;
}

.left-plus > .post__title-pic--plus:nth-child(2),
.right-plus > .post__title-pic--plus:nth-child(4),
.center-plus > .post__title-pic--plus,
.post__title-pic {
    display: inline-block;
}

.post__title--media {
    font-family: Montserrat;
}

.post__title-pic--plus {
    width: 2.5%;
}
.post__title-pic {
    width: 4.1%;
}
.post__title-pic--plus > svg{
    transform: translate(0, -25%);
}
.post__title-pic > *,
.post__title-pic--plus > svg{
    width: 100%;
}

.post__title-pic:last-child > * {
    transform: rotate(180deg);
}

.post__item--text {
    font-family: Montserrat;
}

.big-text  p {
    text-transform: uppercase;
}

.left-text, .right-text,
.left-titled, .right-titled,
.right-titled .container--title,
.left-titled .container--title {
    display: flex;
}
.left-text > .container, .right-text > .container,
.left-titled > .container:not(.container--title), 
.right-titled > .container:not(.container--title) {
    width: 50%;
}
.left-text {
    justify-content: flex-start;
}
.right-text {
    justify-content: flex-end;
}

.left-titled, .right-titled {
    justify-content: space-between;
}

.right-titled {
    flex-direction: row-reverse;
}

.right-titled .container--title,
.left-titled .container--title {
    flex-direction: column;
}
.right-titled .container--title{
    align-items: flex-end;
}
.left-titled .container--title {
    align-items: flex-start;
}

.right-titled  b,
.left-titled b {
    width: min-content;
    padding: 0 2% 0 2%;
}

.container--title {
    font-size: 4.444vw;
}

.right-titled  b:first-child,
.left-titled  b:first-child {
    width: max-content;
}
.right-titled  b:first-child {
    padding: 0 2% 0 10%;
}
.left-titled  b:first-child {
    padding: 0 10% 0 2%;
}


        /*last elem credits--terminal */

        .credits.credits--border-flex,
        .credits.credits--flex {
            display: flex;
            flex-direction: row-reverse;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

        .credits:not(.credits--terminal) .credits__inner-title>b {
            display: block;
            width: fit-content;
        }

        .credits.credits--border-fullwidth .credits__item:first-child,
        .credits.credits--fullwidth .credits__item:first-child {
            margin-bottom: 1.9%;
        }

        .credits.credits--border-fullwidth .credits__item {
            width: 100%;
        }

        .credits.credits--fullwidth .credits__item {
            width: 100%;

        }

        .credits.credits--fullwidth .credits__item .credits__container {
            border: 0;
        }

        .credits.credits--flex .credits__item .credits__container {
            border: 0;
        }

        .credits.credits--flex .credits__item {
            width: 49.2%;
        }

        .credits.credits--flex .credits__item:first-child {
            margin-bottom: 3.4%;
        }

        .credits.credits--terminal .credits__item {
            width: 100%;

        }

        .credits.credits--terminal .credits__item:first-child {
            margin-bottom: 1.9%
        }

        .credits.credits--terminal .credits__item .credits__container {
            border: 0;

        }

        .credits.credits--terminal .credits__container {
            /* color:silver; */
            background-color: black;
            /* padding: 2.7vw 1.6vw; */
        }

        .credits.credits--terminal .credits__inner-title>span {
            display: block;
            width: fit-content;
        }

        .credits__container {
            border: 2px solid black;
            padding: 2.7vw 1.6vw 0;
        }

        .credits__item {
            width: 49.2%;
        }

        .credits__item:first-child .credits__inner-title *:first-child {
            margin-bottom: 5.5vw;
        }

        .credits--terminal .credits__inner-title>span {
            color: #3FED41;
        }

        .credits--terminal .credits__inner-title u,
        .credits.credits--terminal .credits__container {
            color: #B2B2B2;
        }


        .credits__container p {
            font-family: Montserrat;
            font-size: 2.5vw;
        }

        .credits__inner-title b {
            font-size: 3.3vw;
        }

        .credits__inner-title span {
            font-size: 3.3vw;
            font-family: AndaleMono;
        }

        .credits__container>*:not(p:last-child) {
            margin-bottom: 2.7vw;
        }

        .credits__container>p:last-child {
            padding-bottom: 2.7vw;
        }

        /* .post__item--vimeo {
            width: 80%;
            margin: 0 auto 8%; 
        } */
       
        /* .post__item--vimeo  {
            width: 80%;
            margin: 0 auto 8%; 
        } */
        /* .container--vimeo {
            width: 100%;
            height: 60vw
        } */
        /* MOBILE EN|D */
        // .post__item--photo .container, .container--file, .container--vimeo {
        //     position: relative;
        // }

        // .post__item--photo .container:not(.container--title, .container--text)::before, .container--file::before, .container--vimeo::before {
        //     position: absolute;
        //     content: '';
        //     width: 100%;
        //     height: 100%;
        //     box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
        // }

        .post__item--photo-two .inner,
        .post__item--photo-four .inner,
        .post__item--photo-three .inner,
        .inner--media-text{
            display: flex;
            justify-content: space-between;
        }

        .inner--media-text.video-large-left,
        .inner--media-text.video-small-left {
            flex-direction: row-reverse;
        }
        
        .inner--media-text.video-large-left .container--file,
        .inner--media-text.video-large-right .container--file{
            height: 72vw;
        }

        .inner--media-text.video-small-right .container--file,
        .inner--media-text.video-small-left .container--file{
            height: 23.8vw;
        }

        .inner--media-text.video-large-left .container--vimeo,
        .inner--media-text.video-large-right .container--vimeo{
            width: 49%;
            padding-top: 86%;
        }

        .inner--media-text.video-small-right .container--vimeo,
        .inner--media-text.video-small-left .container--vimeo{
            width: 49%;
            padding-top: 28%;
        }


        .inner--media-text > * {
            width: 49%;
        }
        
        .photo-small-left,
        .photo-medium-left,
        .photo-large-left {
            flex-direction: row-reverse;
        }

        .inner.photo-short-two-fullwidth,
        .inner.photo-tall-two-fullwidth,
        .inner.photo-tall-four-fullwidth {
            width: 100%;
        }


        .inner.photo-short-two-halfwidth,
        .inner.photo-tall-two-halfwidth,
        .inner.photo-four-halfwidth {
            width: 69.7vw;
            margin: 0 auto;
        }
        
        .post__item--photo-one .container {
            width: 100%;
        }

        .inner.photo-short-two-fullwidth .container,
        .inner.photo-tall-two-fullwidth .container,
        .inner.photo-short-two-halfwidth .container,
        .inner.photo-tall-two-halfwidth .container,
        .post__item--photo-three .container {
            width: 49%;
        }

        .post__item .container img {
            width: 100%;
            height: 100%;
        }
        
        .photo-tall,
        .photo-short,
        .photo-small-right .container--media img {
            width: 100%;
        }
        
        .photo-short {
            height: 41.25vw;
        }
        
        .photo-tall {
            height: 61.25vw;
        }

        .photo-four-fullwidth .container {
            width: 22.63vw;
            height: 37.3vw;
        }

        .photo-four-halfwidth .container {
            width: 16.2vw;
            height: 23.81vw;
        }

        .photo-tall-two-fullwidth .container {
            height: 41.25vw;
        }
        
        .photo-short-two-halfwidth .container {
            height: 17.64vw;
        }

        .photo-tall-two-halfwidth .container {
            height: 34vw;
        }

        .photo-small-right .container--media,
        .photo-small-left .container--media {
            height: 24.6vw;
        }

        .photo-medium-right .container--media,
        .photo-medium-left .container--media {
            height: 41.25vw;
        }

        .photo-large-right .container--media,
        .photo-large-left .container--media {
            height: 71.1vw;
        }

        .post__item--text:not(.big-text) {
            font-size: 2.77vw;
        }
        
        .left-titled b:first-child {
            padding: 0 5% 0 2%;
            display: block;
            width: max-content;
        }
        
        .container--title {
            margin-bottom: 8%;
            font-size: 4.44vw;
        }

        .container--text p:not(.container--title) {
            font-family: Montserrat;
            line-height: 1.3;
        }
        
        /* .inner--media {
            width: 100%;
            height: 48vw;
        } */
        
        /* .container--vimeo,
        .container--vimeo > *
    {
        width: 100%;
        height: 100%;
    }

    .container--vimeo > div{
        padding: 0 !important;
        
    }

    .container--vimeo > div, .container--vimeo iframe{
        position: static !important;
    } */
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }
        .post__item.post__item--media {
            margin-bottom: 5.9%;
        }
        .inner--media.two-half-width ,
        .inner--media.four-stories-width{
            width: 69.4vw;
        }
        .inner--media.two-full-width,
        .inner--media.two-half-width,
        .inner--media.four-stories-width {
            display: flex;
            justify-content: space-between;
        }
        .inner--media.one-full-width .container,
        .inner--media.one-medium-width  .container,
        .inner--media.one-small-width  .container,
        .inner--media.four-stories-width,
        .inner--media.two-half-width{
            margin: 0 auto;
        }

        .inner--media.one-full-width > .container{
            width: 100%;
            height: 48.5vw;
        }
       
        .inner--media.one-medium-width > .container{
            width: 75%;
            height: 36.1vw;
           
        }
        .inner--media.one-small-width > .container{
            width: 49.3%;
            height: 23.9vw;
        }
        .inner--media.two-full-width > .container {
            width: 49%;
            height: 23.8vw; 
        }
        .inner--media.two-half-width > .container {
            width: 33.8vw;
            height: 17.4vw; 
        }
        
        .inner--media.four-stories-width > .container {
            width: 16.08vw;
            height: 23.8vw;
        }


        .inner--media.one-full-width > .container--vimeo {
            width: 100%;
            padding-top: 56.25%;
            // height: 48.5vw;
        }
        .inner--media.one-medium-width > .container--vimeo{
            width: 75%;
            margin: 0 auto;
            padding-top: 42.6%;
            // height: 36.1vw;
        }
        .inner--media.one-small-width > .container--vimeo{
            width: 49.3%;
            margin: 0 auto;
            padding-top: 28%;
            // height: 23.9vw;
        }
        .inner--media.two-full-width > .container--vimeo {
            width: 49%;
            padding-top: 28%;
            // height: 23.8vw; 
        }
        .inner--media.two-half-width > .container--vimeo {
            width: 49%;
            padding-top: 28%;
            // height: 17.4vw; 
        }
        .inner--media.four-stories-width > .container--vimeo {
            width: 24%;
            padding-top: 42%;
        }

        .container--vimeo {
            padding-top: 56.25%;
            // height: 0px;
            position: relative;
        }
        iframe:not(.container--single > iframe, .container--playlist > iframe) {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        .container--single > iframe {
            width: 100%;
            // height: 25vw;
            
            position: relative;
            margin: 0 auto 8%;
        }
        .container--single > div {
            display: none;
        }
        .container--playlist > iframe{
            width: 100%;
            height: 45vw;
            position: relative;
            margin: 0 auto 8%;
        }
        .container--playlist > div {
            display: none;
        }

        .btn {
            display: block;
            margin: 0 auto;
            padding: .7% 1.4%;
            width: fit-content;
            font-size: 3.333vw;
            background: #C3C3C3;
            box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
            text-decoration: none;
            color:black;
            margin: 6% auto 8%;
            font-family: Montserrat;
        }
        .btn:hover{
            color:black;
            background-color: #838383;
            box-shadow: inset 2px 2px 2px 0 black;
            transition: all .3s;
        }
        @media screen and (max-width: 830px) {
            .inner--media.two-half-width {
                width: 100%;
            }
            .inner--media.one-medium-width > .container,
            .inner--media.one-small-width > .container{
                width: 100%;
                height: 48.5vw;
            }
            .inner--media.two-full-width,
            .inner--media.two-half-width,
            .inner--media.four-stories-width {
            display: block;
            justify-content: space-between;
            }
            .inner--media.two-full-width > .container,
            .inner--media.two-half-width > .container{
                width: 80%;
                height: 50vw;
                margin: 0 auto;
            }
            .inner--media.two-full-width > .container:first-child,
            .inner--media.two-half-width > .container:first-child{
                margin-bottom: 6%;
            }
            .inner--media.four-stories-width > .container{
                width: 90%;
                height: 89vw;
                margin: 0 auto 6% ;
            }
            
            .inner--media.inner--media-text.video-large-left,
            .inner--media-text.video-small-left{
                
                flex-direction: column;
            }
            .inner--media.inner--media-text.video-large-right,
            .inner--media-text.video-small-right{
                flex-direction: column;
            }
            .inner--media.inner--media-text .container--text {
                margin-bottom: 8% ;
            }
            .container--title {
                width: 100%;
                margin-bottom: 11%;
                font-size: 11.8vw;
            }
            .container--text p:not(.container--title),
            .container--text{
                width: 100%;
                font-family: Montserrat;
                line-height: 1.3;
                font-size: 7.44vw;
            }
            .inner--media-text > * {
                width: 100%;
            } 
            .inner--media-text.video-small-right .container--file, 
            .inner--media-text.video-small-left .container--file {
                    width: 100%;
                    height: 65vw;
            }
            .inner--media-text.video-large-right .container--file, 
            .inner--media-text.video-large-left .container--file {
                    width: 100%;
                    height: 173vw;
                    // width: 100%;
                    // height: 85vw;
            } 
            .inner--media-text.video-small-right .container--vimeo, 
            .inner--media-text.video-small-left .container--vimeo {
                width: 100%;
                padding-top: 56.25%;
                margin: 0 auto;
            }
            .inner--media-text.video-large-right .container--vimeo, 
            .inner--media-text.video-large-left .container--vimeo {
                width: 100%;
                padding-top: 180%;
                margin: 0 auto;
            } 

            .inner--media.one-full-width > .container--vimeo,
            .inner--media.one-medium-width > .container--vimeo,
            .inner--media.one-small-width > .container--vimeo {
                width: 100%;
                padding-top: 56.25%;
                margin: 0 auto;
            }
            .inner--media.two-full-width > .container--vimeo,
            .inner--media.two-half-width > .container--vimeo{
                width: 75%;;
                padding-top: 42.6%;
                margin: 0 auto;
            }

            .inner--media.two-full-width > .container--vimeo:first-child,
            .inner--media.two-half-width > .container--vimeo:first-child{
                margin-bottom: 6%;
            }
            .inner--media.four-stories-width > .container--vimeo{
                width: 90%;
                margin: 0 auto 6%;
                padding-top: 140%;
            }
            // .container--soundcloud {
            //     width: 100%;
            //     height: 35vw;
            //     // padding-top: 10%;
            //     position: relative;
            //     margin: 0 auto 8%;
            // }
            
             /* текст  шрифт в писклеях декстопа / 1.33  и / 3.75 или шрифт декстопа делить на 5 vw
колонки row сделать column 
*/
        .credits.credits--border-flex {
            display: block;
        }

        .credits.credits--border-flex .credits__item:first-child {
            margin-bottom: 3.4%;
        }

        .credits.credits--border-flex .credits__item {
            width: 100%;

        }

        .credits.credits--flex {
            display: block;
        }

        .credits.credits--flex .credits__item:first-child {
            margin-bottom: 3.4%;
        }

        .credits.credits--flex .credits__item {
            width: 100%;

        }

        .credits.credits--border-fullwidth .credits__item:first-child,
        .credits.credits--fullwidth .credits__item:first-child {
            margin-bottom: 3.4%;
        }

        .credits.credits--terminal .credits__item:first-child {
            margin-bottom: 3.4%
        }

        .credits__container {
            border: 1px solid black;
            padding: 5vw 3.2vw 0;
        }

        .credits__container>p:last-child {
            padding-bottom: 5vw;
        }

        .credits__container>*:not(p:last-child) {
            margin-bottom: 4.6vw;
        }

        .credits__item:first-child .credits__inner-title>*:first-child {
            margin-bottom: 7.5vw;
        }


        .credits__container>p {
            font-size: 2.8vw;
        }

        .credits__inner-title>b,
        .credits__inner-title>span{
            font-size: 4.2vw;
        }
        .btn {

            margin: 6% auto 8%;
            padding: 2.5% 5%;
            font-size: 8.533vw;
        }
        .container--single > iframe {
            width: 100%;
            // height: 55vw;
            position: relative;
            margin: 0 auto 8%;
        }
        .container--single > div {
            display: none;
        }
        .container--playlist > iframe{
            width: 100%;
            height: 100vw;
            position: relative;
            margin: 0 auto 8%;
        }
        .container--playlist > div {
            display: none;
        }
        .splide .splide__arrow {
            display: none;
        }
        .splide .splide__image-container{
            width: 100%;
            img{
                height: 60vw;
            }
        }
        .splide__slide.is-active .splide__image-container {
            transform: unset;
            // width: 100%;

        }
        .splide .splide__slide.is-active img {
            transform: unset;
        }
    }
         /* MOBILE END */
        .splide {
           margin: 0 auto 8%;
           overflow: hidden;
           
            
        }
          .splide__image-container{
              margin: 0 auto;
              transition: transform 400ms;
              transform: scale(.9);
              transform-origin: center center;
              img {
                display: block;
                width: 100%;
                height: 35vw;
                object-fit: contain;
                margin: 0 auto;
              }
            }
        //   Active Slide
          .splide__slide.is-active {
            img {
              transform: scale(1);
            }
          }
          
          // Arrow Tweaks for Accessibility
          .splide .splide__arrow {
            
            // top: 0;
            bottom: 0;
            width: 100%;
            height: 5vw;
            // transform: none;
            border-radius: unset;
            width: 50px;
            opacity: .9;
            svg {
            //   filter: invert(1);
              width: 64px;
              height: 64px;
            }
          }
          .splide__arrow.splide__arrow--prev {
            width:7%;
            // height:60px;
            left: 0;
            background-color:lime;
            svg {
                transform: rotate(180deg);
            }
          }
          .splide__arrow.splide__arrow--next {
            width:7%;
            // height:60px;
            right: 0;
            background-color:lime;
          }