.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 89.6vh;
}

.container {
    margin: 0 auto;
    width: 160vh;
}

.description {
    justify-content: space-between;
    margin: 5.4vh 0 0 0;
    padding: 0 1.8%;
    font-size: 3.55vh;

    &__title {
        padding: .5% .5% .5% 1%;
        font-family: AndaleMono;
        // font-size: 36px;
        font-size: 4vh;
        font-weight: 500;
        background-color: #3FED41;
    }
    
    &__item {
        width: 76vh;
    }
    
    &__container {
        padding: 3.5% 0 0 2.5%;
        height: 44vh;
        border: 2px solid black;
    }
    
    &__item:first-child &__container{
        background: url(../../../media/media1.png) no-repeat;
        background-position: bottom 0 left 0;
        background-size: 96% 100%;
        
        &>p {
            width: 54%;
        }
    }
    
    &__item:last-child &__container {
        background: url(../../../media/media2.png) no-repeat;
        background-position: bottom 0 right 0;
        background-size: contain;
        
        & .description__title{
             display: block;
        }

        & .description__title:first-child {
            width: 55%;
        }
        & .description__title {
            margin: 0;
            width: 58%;
        }
    }
    
    &__list {
        margin-top: 4.3vh;
        font-family: Montserrat;
        color: #272727;

        &>li {
            padding-bottom: 1.2%;
        }
    }
}

.text {
    &__body {
        justify-content: space-around;
        margin: 0 auto;
        width: 157vh;
    }

    &__item {
        margin: 0 ;
        font-family: Montserrat;
        text-transform: uppercase;
        text-align: center;
        font-size: 8vh;
    }

    &__img {
        display: flex;
        align-items: center;
        width: 6.4vh;
    }

    &__img>svg {
        width: 100%;
    }

    &__img:last-child {
        transform: rotateX(-180deg);
    }
}

@media  screen and (max-width: 830px) {
    .line-indent {
        display: none;
    }

    .container {
        width: 100%;
    }

    .description {
        flex-direction: column;
        align-items: center;
        margin-top: 9%;

        &__item {
            width: 95%;
        }

        &__container {
            padding: 4% 0 0 3%;
            height: 90vw;

            &>p>span {
                display: block;
            }
        }

        &__title {
            font-size: 8.53vw;
        }

        &__item:first-child &__container{
            background-size: contain;
            
            &>p {
                width: 100%;
                background-color: transparent;

                &>span {
                    display: block;
                }
                
                &>span:first-child {
                    padding: 1% 0 1% 1%;
                    width: 77%;
                    background-color: #3FED41;
                }

                &>span:last-child{
                    margin: 0;
                    padding-left: 20%;
                }
            }
        }

        &__item:last-child {
            margin-top: 21%;
        }
        
        &__item:last-child &__container {
            background: url(../../../media/media2_mobile.png) no-repeat;
            background-position: bottom 0 right 0;
            background-size: 75%;
            
            & .description__title:first-child {
                padding-right: 0;
                width: 76%;
                background-color: #3FED41;
            }
            & .description__title {
                line-height: normal;
                background-color: transparent;
            }
        }

        &__list {
            margin-top: 4.3vh;
    
            &>li {
                font-size: 6.4vw;
                padding-bottom: 2%;
            }
        }
    }

    .text {
        padding-top: 10%;
        padding-bottom: 10%;
        
        &__body {
            justify-content: center;
            width: 100%;
        }

        &__item {
            width: 70%;
            font-size: 11.06vw;
            // font-size: 17.06vw;
            text-align: center;

            &>span {
                display: none;
            }
        }

        &__img {
            width: 11%;
        }
    }
}