.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 89.6vh;
}

.container {
  margin: 0 auto;
  width: 160vh;
}

.description {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5.4vh 0 0 0;
  padding: 0 1.8%;
  font-size: 3.55vh;
}

.description__title {
  padding: .5% .5% .5% 1%;
  font-family: AndaleMono;
  font-size: 4vh;
  font-weight: 500;
  background-color: #3FED41;
}

.description__item {
  width: 76vh;
}

.description__container {
  padding: 3.5% 0 0 2.5%;
  height: 44vh;
  border: 2px solid black;
}

.description__item:first-child .description__container {
  background: url(../../../media/media1.png) no-repeat;
  background-position: bottom 0 left 0;
  background-size: 96% 100%;
}

.description__item:first-child .description__container > p {
  width: 54%;
}

.description__item:last-child .description__container {
  background: url(../../../media/media2.png) no-repeat;
  background-position: bottom 0 right 0;
  background-size: contain;
}

.description__item:last-child .description__container .description__title {
  display: block;
}

.description__item:last-child .description__container .description__title:first-child {
  width: 55%;
}

.description__item:last-child .description__container .description__title {
  margin: 0;
  width: 58%;
}

.description__list {
  margin-top: 4.3vh;
  font-family: Montserrat;
  color: #272727;
}

.description__list > li {
  padding-bottom: 1.2%;
}

.text__body {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  width: 157vh;
}

.text__item {
  margin: 0;
  font-family: Montserrat;
  text-transform: uppercase;
  text-align: center;
  font-size: 8vh;
}

.text__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 6.4vh;
}

.text__img > svg {
  width: 100%;
}

.text__img:last-child {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

@media screen and (max-width: 830px) {
  .line-indent {
    display: none;
  }
  .container {
    width: 100%;
  }
  .description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 9%;
  }
  .description__item {
    width: 95%;
  }
  .description__container {
    padding: 4% 0 0 3%;
    height: 90vw;
  }
  .description__container > p > span {
    display: block;
  }
  .description__title {
    font-size: 8.53vw;
  }
  .description__item:first-child .description__container {
    background-size: contain;
  }
  .description__item:first-child .description__container > p {
    width: 100%;
    background-color: transparent;
  }
  .description__item:first-child .description__container > p > span {
    display: block;
  }
  .description__item:first-child .description__container > p > span:first-child {
    padding: 1% 0 1% 1%;
    width: 77%;
    background-color: #3FED41;
  }
  .description__item:first-child .description__container > p > span:last-child {
    margin: 0;
    padding-left: 20%;
  }
  .description__item:last-child {
    margin-top: 21%;
  }
  .description__item:last-child .description__container {
    background: url(../../../media/media2_mobile.png) no-repeat;
    background-position: bottom 0 right 0;
    background-size: 75%;
  }
  .description__item:last-child .description__container .description__title:first-child {
    padding-right: 0;
    width: 76%;
    background-color: #3FED41;
  }
  .description__item:last-child .description__container .description__title {
    line-height: normal;
    background-color: transparent;
  }
  .description__list {
    margin-top: 4.3vh;
  }
  .description__list > li {
    font-size: 6.4vw;
    padding-bottom: 2%;
  }
  .text {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .text__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .text__item {
    width: 70%;
    font-size: 11.06vw;
    text-align: center;
  }
  .text__item > span {
    display: none;
  }
  .text__img {
    width: 11%;
  }
}
/*# sourceMappingURL=main.css.map */