.footer {
    display: none;
}

pre {
    white-space: pre;
    margin: 0;
    padding: 0;
    font-family: inherit;
    max-width: fit-content;
    line-height: 1.1;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 89.6vh;
}

.container {
    margin: 0 auto;
    width:100%;
}

.description {
    justify-content: center;
    margin: 5.4vh 0 0 0;
    padding: 0 1.8%;
    font-size: 3.55vh;
    
    &__title {
        padding: .5% .5% .5% 1%;
        font-family: AndaleMono;
        font-size: 4vh;
        font-weight: 500;
    }
    
    &__item {
        width: 76vh;
        // width: 47.5vw;
    }
    
    &__item:first-child {
        margin-right: 1%;
    }
    
    &__container {
        padding: 3.5% 0 0 2.5%;
        height: 44vh;
        border: 2px solid black;
    }
    
    &__list {
        margin-top: 4.3vh;
        font-family: Montserrat;
        
        &>li {
            padding-bottom: 1.2%;
        }
    }
}

.text {
    &__body {
        justify-content: space-around;
        margin: 0 auto;
        // width: 157vh;
        width: 80%;
    }
    
    &__item {
        margin: 0 ;
        font-family: Montserrat;
        text-transform: uppercase;
        text-align: center;
        font-size: 8vh;
    }
    
    &__img {
        display: flex;
        align-items: center;
        width: 6.4vh;
    }
    
    &__img>svg {
        width: 100%;
    }
    
    &__img:last-child {
        transform: rotateX(-180deg);
    }
}

@media screen and (max-width:1440px) {
    .container {
        
    }
    .description {
        justify-content: space-between;
    }
    
    .description .description__item {
        width: 47.5vw;
        
        &:first-child {
            margin: 0;
        }
    }

    .text .text__item {
        font-size: 4.8vw;
    }

    .text .text__body {
        width: 95%;
    }
    
    
}
@media screen and (min-width:831px) {
    *[data-dev="desktop"] {
        display: unset;
    }
    *[data-dev="mobile"] {
        display: none;
    }
}



@media  screen and (max-width: 830px) {
    pre {
        line-height: normal;
    }
    *[data-dev="desktop"] {
        display: none;
    }
    *[data-dev="mobile"] {
        display: unset;
    }
    
    .line-indent {
        display: none;
    }

    .container {
        width: 100%;
    }

    .description {
        flex-direction: column;
        align-items: center;
        margin-top: 9%;

        & &__item {
            width: 95%;
        }

        &__container {
            padding: 4% 0 0 3%;
            height: 90vw;
        }

        &__title {
            font-size: 8.53vw;
        }

        &__item:first-child &__container{
            
            &>p {
                background-color: transparent;
            }
        }

        &__item:last-child {
            margin-top: 21%;
        }
        
        &__item:last-child &__container {
            
            & .description__title {
                background-color: transparent;
            }
        }

        &__list {
            margin-top: 4.3vh;
    
            &>li {
                font-size: 6.4vw;
                padding-bottom: 2%;
            }
        }
    }

    .text {
        padding-top: 10%;
        padding-bottom: 10%;
        
       & &__body {
            justify-content: center;
            width: 100%;
        }

        & &__item {
            width: 70%;
            font-size: 11.2vw;
            text-align: center;

        }

        &__img {
            width: 11%;
        }
    }
}
