html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li, menu {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: AndaleMono;
  src: url("../../fonts/AndaleMono.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat-Medium.ttf");
}

@-webkit-keyframes prompt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes prompt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes headerOpening {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes headerOpening {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@-webkit-keyframes borderprompt {
  0% {
    border-right-color: transparent;
  }
  100% {
    border-right-color: #B2B2B2;
  }
}

@keyframes borderprompt {
  0% {
    border-right-color: transparent;
  }
  100% {
    border-right-color: #B2B2B2;
  }
}

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

*[data-lang="ua"] {
  display: none;
}

*[data-lang="eng"] {
  display: unset;
}

html {
  font-size: 10px;
}

.wrapper {
  position: relative;
  max-width: 100%;
}

.main {
  background-color: #fdfdfd;
}

.spec-violet {
  color: #6261F8;
}

.spec-orange {
  color: #E46D29;
}

.keytext {
  font-family: AndaleMono;
  padding: 0 1%;
  background-color: #4AE54B;
}

.settings, #type-source, #type-loop {
  display: none;
}

.type-cursor {
  display: inline-block;
  -webkit-transform: translate(0, -10%);
          transform: translate(0, -10%);
  -webkit-animation: prompt .7s infinite;
          animation: prompt .7s infinite;
}

.header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.2% 1.5%;
  font-size: 1.7vw;
  background-color: black;
  color: #B2B2B2;
  z-index: 4;
}

.header__menu--homepage, .header__menu-button, .header__menu-top {
  display: none;
}

.header__logo > a {
  text-transform: uppercase;
  color: #3FED41;
}

.header__logo > a:not(a:first-child) {
  color: #B2B2B2;
}

.header__logo > a:not(a:first-child):hover,
.header__logo > .header__text a:hover {
  color: #E46D29;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.header__logo *, .header__logo {
  font-family: AndaleMono;
}

.header__logo {
  color: #B2B2B2;
}

.header__text > a {
  color: #B2B2B2;
}

.header__menu-button, .header__link {
  font-family: AndaleMono;
  color: #E46D29;
}

.header__link {
  text-transform: uppercase;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.header__link--current {
  display: none;
}

.header__link:hover {
  color: #3FED41;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.header__menu-top > a {
  border-bottom: 2px solid #3FED41;
}

.header__menu-top > a:hover {
  border-bottom-color: #E46D29;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.header__list > li:not(li:last-child) {
  margin-right: 9%;
}

@media screen and (max-width: 830px) {
  .type-cursor {
    display: none;
  }
  .typed-cursor {
    display: none;
  }
  .open .header__logo,
  .open .header__menu-button {
    -webkit-animation: prompt 1s;
            animation: prompt 1s;
  }
  .header.open {
    position: fixed;
    top: 0;
    min-height: 100%;
    -webkit-transition: min-height .3s;
    transition: min-height .3s;
  }
  .open > .header__menu {
    visibility: visible;
    -webkit-animation: prompt 1s;
            animation: prompt 1s;
  }
  .open .header__logo,
  .open .spec-violet {
    color: black;
  }
  .header__text,
  .header__line,
  .header.open ~ *,
  .header__mobile-hidden,
  .header.open .header__logo > a:first-child ~ * {
    display: none;
  }
  .header__menu-button,
  .header__menu-top,
  .header__list,
  .header__link--current,
  .header__menu--homepage {
    display: block;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 4.5% 5%;
    width: 100%;
    min-height: 0%;
    word-spacing: 20px;
    font-size: 5.3vw;
    -webkit-transition: min-height .3s;
    transition: min-height .3s;
  }
  .header__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__logo, .header__menu-button {
    letter-spacing: normal;
    word-spacing: normal;
  }
  .header:not(.open) > .header__menu {
    opacity: 0;
  }
  .header__menu {
    width: 100%;
    height: 0;
    visibility: hidden;
  }
  .header__menu--homepage {
    height: 0;
  }
  .header__menu-button {
    text-transform: uppercase;
  }
  .header__menu-top {
    margin: 10vh 0;
    text-align: center;
  }
  .header__list > li {
    padding-bottom: 6vh;
    margin-right: 0 !important;
  }
  .header__list > li:before {
    content: '->';
    font-family: AndaleMono;
    font-size: 12.8vw;
  }
  .header__list a {
    margin-left: 0%;
  }
  .header__menu .header__link {
    color: #4AE54B;
    font-size: 12.8vw;
    letter-spacing: normal;
  }
  .header__menu .header__link:hover {
    color: #E46D29;
  }
  .header__menu .header__link--current {
    display: block;
  }
}

footer {
  display: none;
}

.main {
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

pre {
  white-space: pre;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

.team {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.team__media {
  width: 82%;
  margin: auto;
  text-align: center;
}

.team__media > img {
  width: 100%;
}

.team__media > img[src="media/team3.gif"] {
  -webkit-transform: scale(1.2, 1.3);
          transform: scale(1.2, 1.3);
}

.team__message {
  position: absolute;
  top: 21%;
  left: 45%;
  width: 26%;
  font-family: Montserrat;
  font-size: 2vw;
  text-transform: uppercase;
  word-spacing: 10px;
  line-height: 1.1;
}

.team__text {
  display: none;
}

.team__message > .team__container {
  display: none;
}

.team .indent, .team .indent-team3 {
  padding-left: 60px;
}

.team .indent-br {
  display: block;
}

.team .indent-max {
  padding-left: 30%;
}

.language {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding-bottom: 2.4%;
  font-family: Montserrat;
  font-size: 4.5vh;
  text-transform: uppercase;
  color: #AFAFAF;
}

.language > * {
  margin-right: 1%;
}

.language__elem {
  padding: 1%;
  border: 2px solid white;
  -webkit-transition: border .4s;
  transition: border .4s;
}

.language__elem--current {
  border: 2px solid black;
}

.language__elem:hover {
  border: 2px solid black;
}

.language .language__elem--current > div {
  color: black;
}

.language__elem > div {
  color: #AFAFAF;
}

.language span {
  padding: 1% 1% 0 1%;
}

.nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5% 2% 0 0;
  height: 89.2vh;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: Montserrat;
  font-size: 9vw;
  font-weight: 100;
}

.nav > li {
  text-align: right;
}

.nav > li:last-child {
  padding-bottom: 0;
}

.nav__link {
  -webkit-transition: color .3s;
  transition: color .3s;
}

.nav__link:hover {
  color: #6261F8;
  -webkit-transition: color .3s;
  transition: color .3s;
}

@media screen and (max-width: 830px) {
  .nav {
    display: none;
  }
  .team {
    width: 100%;
    padding: 0;
  }
  .team__media > img[src="media/team3.gif"] {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .team > .team__media {
    display: none !important;
  }
  .team__message > .team__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 8% 0;
    width: 100%;
  }
  .team__media {
    width: 84%;
  }
  .team__picture {
    width: 8%;
  }
  .team__message {
    position: static;
    padding: 5% 5% 0 5%;
    width: 100%;
    font-size: 9.5vw;
    letter-spacing: normal;
    word-spacing: 15px;
    font-weight: 500;
    line-height: 1.2;
  }
  .team span {
    padding: 0%;
  }
  .team .indent {
    padding-left: 2%;
  }
  .team .indent-br {
    display: unset;
  }
  .team .indent-team2 {
    padding-left: 0;
    text-indent: 9%;
    display: block;
  }
  .team .indent-team3, .team .indent-max {
    padding-left: 8%;
  }
  .team .indent-max {
    padding-left: 20%;
  }
  .language {
    margin-top: 13%;
    padding-bottom: 3%;
    width: 100%;
    font-size: 6.4vw;
    line-height: 1;
  }
  .language__elem {
    border: 1px solid white;
  }
  .language__elem--current {
    border: 1px solid black;
  }
  .indent-mobile {
    display: block;
    text-align: right;
  }
}
/*# sourceMappingURL=style.css.map */