$shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
$grid-margin: 1.666vw;
$grid-marginTop: 0.694vw;
$gridwidth: 22.917vw;

::-webkit-scrollbar{
    display: none;
}

.main {
    font-family: Montserrat;
}

.message{
    margin: 0 auto;
    padding: 2%;
    text-align: center;
    font-size: 5.555vw;
    line-height: 1.2;

    &__pic{
        &>svg{
            width: 3.8%
        }

        // &:first-child{
        //     // transform: translate(-100%);
        // }
    }

    &__content{
        padding: 0 1.5%;
    }

}

.message--bottom{
    padding: 0 4%;
    text-align: left;

}

.btn {
    display: block;
    margin: 8% auto;
    padding: .7% 1.4%;
    width: fit-content;
    font-size: 3.333vw;
    background: #C3C3C3;
    box-shadow: $shadow;
}

// .btn:hover{
//     background-color: #838383;
//     box-shadow: inset 2px 2px 2px 0 black;
//     transition: all .3s;
// }

.grid__overlay>a:hover, 
.btn:hover{
    background-color: #838383;
    box-shadow: inset 2px 2px 2px 0 black;
    transition: all .3s;
}

.grid {
    padding: 0 0 0 $grid-margin;
    margin-bottom: 5%;

    &__sizer {
        width: $gridwidth + $grid-margin/2;
    }

    &__gutter-sizer {
        width: $grid-margin/2;
    }

    &__item {
        position: relative;
        margin: 0.694vw 0;
        width: $gridwidth;        

        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: $shadow;
        }

        &:hover>.grid__overlay  {
            opacity: 1;
            transition: opacity 1s;
        }
    }
    
    & &__item--middlewidth {
        width: $gridwidth*2 + $grid-margin;
    }
    & &__item--maxwidth {
        width: $gridwidth*3 + $grid-margin*2;
    }

    &__preview {
        width: 100%;
        text-align: center;
        &>img{
            display: block;
            width: 100%;
        }
    }

    &__hot-pic {
        display: none;
        position: absolute;
        top: 5%;
        left: 90%;
        width: 3vw;
        z-index: 3;

        &>img {
            width: 100%;
        }
    }

    &__item--middlewidth>&__hot-pic,
    &__item--maxwidth>&__hot-pic {
        display: block;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 1s;
        background-color: rgba(black, .5);
        z-index: 2;

        &>a {
            padding: .7vw 0;
            width: 10.209vw;
            box-shadow: $shadow;
            text-align: center;
            background-color: #C3C3C3;
            transition: all .3s;
        }
    }
}

@media screen and (max-width:830px) {
    $grid-margin: 1.666vw*2;
    $grid-marginTop: 0.694vw*2;
    $gridwidth: 22.917vw*2;

    .message {
        display: flex;
        font-size: 8.533vw;
        padding: 5% 4%;

        &__pic{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 9%;
            &>svg{
                width: 100%;
            }
        }

        &__content {
            padding: 0 3%;
            width: 90% !important;
        }
    }

    .message--bottom {
        margin: 0;
        padding: 11% 9.5% 0;
        text-align: center;
    }

    .btn {
        margin: 12% auto 14%;
        padding: 2.5% 5%;
        font-size: 8.533vw;
    }

    .grid{
        padding: 0 0 0 $grid-margin;
        &__sizer {
            width: $gridwidth + $grid-margin/2;
        }
    
        &__gutter-sizer {
            width: $grid-margin/2;
        }

        &__item {
            margin: $grid-marginTop 0;
            width: $gridwidth;        

        }
        & &__item--middlewidth,
        & &__item--maxwidth {
            width: $gridwidth*2 + $grid-margin;
            // width: $gridwidth;
        }
        
        & &__item--middlewidth:first-child,
        & &__item--maxwidth:first-child {
            width: $gridwidth*2 + $grid-margin;
        }

        &__hot-pic {
            width: 7%;
            top: 8%;
            left: 89%;
        }

        &__overlay>a {
            padding: 2vw 0;
            width: 25.209vw;
        }

    }

}
