$shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
// $grid-margin: 1.666vw;
// $grid-marginTop: 0.694vw;
// $gridwidth: 22.917vw;

$grid-margin: 1.111vw;
$grid-marginTop: $grid-margin/2;
$gridwidth: 23.47vw;

::-webkit-scrollbar{
    display: none;
}

.main {
    font-family: Montserrat;
}

.message{
    margin: 0 auto;
    padding: 2%;
    text-align: center;
    font-size: 5.555vw;
    line-height: 1.2;

    &__pic{
        &>*{
            width: 3.8%
        }
    }

    &__content{
        padding: 0 1.5%;
    }

}

.message--bottom{
    padding: 0 4%;
    text-align: left;

}

.btn {
    display: block;
    margin: 8% auto;
    padding: .7% 1.4%;
    width: fit-content;
    font-size: 3.333vw;
    background: #C3C3C3;
    box-shadow: $shadow;
}

// .btn:hover{
//     background-color: #838383;
//     box-shadow: inset 2px 2px 2px 0 black;
//     transition: all .3s;
// }

.grid__overlay>a:hover, 
.btn:hover{
    background-color: #838383;
    box-shadow: inset 2px 2px 2px 0 black;
    transition: all .3s;
}


.square-big {
    height: 41.041vw;
}
.square-small, .rect-middle {
    height: 23.82vw;
}
.rect-big {
    height: 35.76vw;
}
.rect-small {
    height: 16.38vw;
}
.stories-big {
    height: 44.79vw;
}
.stories-small {
    height: 41.18vw;
}

.grid__item.stories-smaller-16{
    height: 36vw;
}
.grid__item.stories-smaller-18{
    height: 41.32vw;
}
.grid__item.stories-smaller-26{
    height: 41vw;
}
.grid__item.square-smaller-25{
    height: 23.5vw;
}
.grid__item.square-smaller-36{
    height: 18.3vw;
}


.grid {
    // padding: 0 0 0 1.38vw;
    padding: 0 0 0 1.38vw;
    margin-bottom: 5%;
    
    &__img-desktop {
        display: block;
    }
    &__img-mobile {
        display: none;
    }

    &__sizer {
        width: $gridwidth + $grid-margin/2;
    }

    &__gutter-sizer {
        width: $grid-margin/2;
    }

    &__preview, img{
        width: 100%;
        height: 100%;    
    }

    &__item {
        position: relative;
        margin: $grid-marginTop 0;
        width: $gridwidth;     

        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: $shadow;
        }

        &:hover>.grid__overlay  {
            opacity: 1;
            transition: opacity 1s;
        }
    }
    
    & &__item--middlewidth {
        width: $gridwidth*2 + $grid-margin;
    }
    & &__item--maxwidth {
        width: $gridwidth*3 + $grid-margin*2;
    }

    &__preview {
        width: 100%;
        text-align: center;
        &>img{
            // display: block;
            width: 100%;
        }
    }

    &__hot-pic {
        // display: none;
        position: absolute;
        top: 5%;
        left: 90%;
        width: 6%;
        z-index: 3;

        &>img {
            width: 100%;
        }
    }

    // &__item--middlewidth>&__hot-pic,
    // &__item--maxwidth>&__hot-pic {
    //     display: block;
    // }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 1s;
        background-color: rgba(black, .5);
        z-index: 2;

        &>a {
            padding: .7vw 0;
            width: 10.209vw;
            box-shadow: $shadow;
            text-align: center;
            background-color: #C3C3C3;
            transition: all .3s;
        }
    }
}

@media screen and (max-width:830px) {
    // $grid-margin: 1.666vw*2;
    // $grid-marginTop: 0.694vw*2;
    // $gridwidth: 22.917vw*2;

    $grid-margin: 1.111vw*2;
    $grid-marginTop: $grid-margin/2;
    $gridwidth: 23.47vw*2;

    .grid__item.mobile-square-big {
        width: $gridwidth*2 + $grid-margin;
        height: 78.13vw;
    }
    .grid__item.mobile-square-small {
        width:$gridwidth;
        height: 45.3vw;
    }
    .grid__item.mobile-rect-small {
        width:$gridwidth;
        height: 31.2vw;
    }
    .grid__item.mobile-rect-big {
        width:$gridwidth*2 + $grid-margin;
        height: 45.3vw;;
    }
    .grid__item.mobile-stories {
        width: $gridwidth;
        height: 78.6vw;
    }

    .message {
        display: flex;
        font-size: 8.533vw;
        padding: 5% 4%;

        &__pic{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 9%;
            &>svg{
                width: 100%;
            }
        }

        &__content {
            padding: 0 3%;
            width: 90% !important;
        }
    }

    .message--bottom {
        margin: 0;
        padding: 11% 9.5% 0;
        text-align: center;
    }

    .btn {
        margin: 12% auto 14%;
        padding: 2.5% 5%;
        font-size: 8.533vw;
    }

    .grid{
        padding: 0 0 0 $grid-margin;
        &__sizer {
            width: $gridwidth + $grid-margin/2;
        }
    
        &__img-desktop {
            display: none;
        }
        &__img-mobile {
            display: block;
        }

        &__gutter-sizer {
            width: $grid-margin/2;
        }

        &__item {
            margin: $grid-marginTop 0;
            // width: $gridwidth;        

        }
        // & &__item--middlewidth,
        // & &__item--maxwidth {
        //     // width: $gridwidth*2 + $grid-margin;
        //     width: $gridwidth;
        // }
        
        // & &__item--middlewidth:first-child,
        // & &__item--maxwidth:first-child {
        //     width: $gridwidth*2 + $grid-margin;
        // }

        &__hot-pic {
            width: 7%;
            top: 8%;
            left: 89%;
        }

        &__overlay>a {
            padding: 2vw 0;
            width: 25.209vw;
        }

    }

}
