@import '../modalWindow/modal.scss';

body {
    position: relative;
}
html {
    background-color: rgb(253, 253, 253);
}
.app-dialog {
    display: none;
}

.footer:not(.footer.footer--contacts) {
    display: none !important;
}

.main {
    position: relative;
    font-size: 3.628vh;
    height: 87vh;
}

.keytext {
    padding: 0;
    word-spacing: -10px;
}

.info b {
    padding: 0;
}

.contacts b {
    padding: 0 1% 1%;
    padding-bottom: 1%;
    word-spacing: 4px;
}

.contacts {
    margin: 6vh auto 0;
    width: 97%;
    justify-content: space-between;
    
    &__item {
        width: 40%;
    }
    
    &__item:last-child{
        text-align: right;
    }
    
    &__title {
        margin-bottom: 4%;
    }
    
    &__link {
        border-bottom: 2px solid black;
    }
    
    &__text {
        font-family: Montserrat;
        margin-bottom: 4%;
    }
}

.info {
    position: relative;
    margin: 4.1vh auto 0;

    width: fit-content;
    
    &__text:first-child>span {
        word-spacing: normal;
    }
    
    &__text{
        margin-bottom: 1.5%;
        font-family: Montserrat;
        text-align: center;
    }
    
    &__media{
        width: 112vh;
        margin-top: 2.2%;
        
        &>img{
            width: 100%;
        }
    }
    
    &__button{
        justify-content: space-around;
        position: absolute;
        top:80%;
        left: 50%;
        transform: translate(-50%);
        padding: 1%;
        width: 39%;
        text-transform: uppercase;
        font-family: Montserrat;
        font-size: 3.175vh;
        background: #C3C3C3;
        box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
        
        & span:not(.info__pic){
            padding: 0 2%;
            line-height: 1.1;
        }
    }

    &__pic{
        width: 3.2vh;

        &>img {
            width: 100%;
        }
    }
    
}

.face {
    position: absolute;
    bottom: -5vh;
    left: 50%;
    transform: translate(-50%, 4%);
    width: 6vw;
}

@media screen and(max-width:1085px) {
    .main {
        font-size: 2.8vw;
    }
    .info {
        width: 100%;
        margin: 0 auto;
    }
    .info__media {
        text-align: center;
        width: 100%;
        height: 37vw;
        overflow: hidden;
        overflow-x: scroll !important;
        &::-webkit-scrollbar{
            display: none;
        }
        
            &>img{
                width:max-content;
                height: 100%;
            }
    }

    .info__button {
        font-size: 2.5vw;
    }

    .info__pic {
        width: 8%;
    }
}

@media screen and(max-width:830px) {
    .main{
        font-size: 6.4vw;
        height: max-content;
        padding-bottom: 25%;
    }

    .contacts{
        flex-direction: column;
        margin: 10% 0 0 0;
        width: 100%;
        
        &__title, &__text{
            text-align: center;
        }
        
        &__text{
            margin-top: 5%;
        }
        
        &__title{
            margin-top: 4%;
        }
        
        &__title>b{
            padding: 1%;
            word-spacing: normal;
        }
        
        &__item{
            margin-bottom: 8%;
            width: 100%;
        }
    }
    
    .info{
        width: 100%;
        margin: 0 auto;
        
        &__text{
            margin: 0 auto;
            width: 90%;
            margin-bottom: 4%;
            line-height: 1.2;
            
            &:first-child{
                background-color: #4AE64B;
            }
            
            &>b{
                word-spacing: 9px !important;
            }
        }
        
        
        
        &__media{
            margin-top: 11%;
            height: 99.46vw;
        }
        
        &__button{
            padding: 3% 0;
            justify-content: center;
            width: 70%;
            font-size: 4.26vw;
            top: 90%;
        }
        
        &__pic {
            width: 6%;
        }
    }
    
    .face {
        width: 15vw;
        bottom: -2.5%;
    }
}