.main {
  text-transform: uppercase;
}

.k {
  width: 2%;
}

.k > svg {
  width: 100%;
  height: 100%;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 4%;
  margin-bottom: 4%;
  font-size: 5.55vw;
  font-family: Montserrat;
}

.title__text {
  text-align: center;
}

.title__pic {
  width: 6.25vw;
  height: 5.55vw;
}

.title__pic:first-child {
  -webkit-transform: translate(0, -8%);
          transform: translate(0, -8%);
}

.title__pic:last-child {
  -webkit-transform: rotateY(180deg) translate(0, -8%);
          transform: rotateY(180deg) translate(0, -8%);
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 1%;
}

.team__item {
  position: relative;
  margin-bottom: 2%;
  width: 22.4vw;
  height: 27vw;
  font-family: AndaleMono;
  overflow: hidden;
}

.team__item:hover img {
  visibility: visible;
}

.team__front::before, .team__back::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
          box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
  z-index: 1;
}

.team__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  min-height: 0;
  -webkit-transition: min-height .3s;
  transition: min-height .3s;
  background-color: black;
  color: white;
  z-index: 1;
}

.team__back * {
  visibility: hidden;
  opacity: 0;
}

.team__open {
  min-height: 100%;
  -webkit-transition: min-height .3s;
  transition: min-height .3s;
}

.team__open * {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .8s;
  transition: opacity .8s;
}

.team__front {
  height: 100%;
}

.team__title {
  margin-bottom: 2%;
  text-align: center;
}

.team__params-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3% 0;
}

.team__params-item > .name {
  padding-right: .2vw;
}

.team .level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team .level > * {
  margin-right: 3px;
  width: 0.35vw;
  height: .7vw;
  border-radius: 1px;
  -webkit-transform: translate(0, 20%);
          transform: translate(0, 20%);
}

.team__button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3%;
  font-size: 1.11vw;
  z-index: 1;
}

.team__button > div {
  position: relative;
  padding: 2%;
  text-align: center;
}

.team__button > div:hover {
  cursor: pointer;
}

.team__button > div .svg {
  position: absolute;
  width: 15%;
}

.team__button > div .svg > svg {
  width: 100%;
  height: 100%;
}

.team__button > div .svg:nth-child(1) {
  top: 0;
  left: 0;
}

.team__button > div .svg:nth-child(2) {
  top: 0;
  right: 0;
}

.team__button > div .svg:nth-child(2) > svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.team__button > div .svg:nth-child(3) {
  right: 0;
  bottom: 0;
}

.team__button > div .svg:nth-child(3) > svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.team__button > div .svg:nth-child(4) {
  bottom: 0;
  left: 0;
}

.team__button > div .svg:nth-child(4) > svg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.team__gif {
  width: 100%;
  padding-top: 14%;
  z-index: 2;
}

.team__gif > img {
  width: 100%;
  visibility: hidden;
}

.team__name {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 4% 0;
  width: 100%;
  font-size: 1.4vw;
  text-align: center;
  color: white;
  background-color: black;
}

.team__info {
  padding: 0 11%;
  margin-top: 30%;
  text-align: center;
  font-size: 0.83vw;
  line-height: 1.2;
}

.team .inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__link {
  position: relative;
  margin: 0 3.5% 5% 0;
  padding: 1.5% 2%;
  z-index: 100;
}

.team__link > a {
  font-size: 0.83vw;
  color: white;
}

.team__link:last-child {
  margin-right: 0;
}

.team__link:hover {
  cursor: pointer;
  border-color: white;
  -webkit-transition: border-color .3s;
  transition: border-color .3s;
}

.team__link:hover > a {
  color: #3FED41;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.content {
  margin-top: 5%;
  padding: 0 7%;
  font-size: 32px;
  font-family: Montserrat;
  text-align: justify;
}

.content__text {
  margin: 2% 0;
  line-height: 1.3;
}

.content__text img {
  width: 28px;
}

.btn {
  font-family: Montserrat;
  display: block;
  margin: 8% auto;
  padding: 1% 1.4%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 3.333vw;
  background: #C3C3C3;
  -webkit-box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
          box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn:hover {
  background-color: #838383;
  -webkit-box-shadow: inset 2px 2px 2px 0 black;
          box-shadow: inset 2px 2px 2px 0 black;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (max-width: 1500px) {
  .team__params-item > .level > * {
    margin-right: 2px;
  }
}

@media screen and (max-width: 830px) {
  .title {
    padding: 6% 5% 0;
    margin-bottom: 6%;
    font-size: 8.53vw;
  }
  .title__pic {
    width: 12vw;
    height: 12vw;
  }
  .title__text {
    line-height: 1.4;
    width: 75%;
  }
  .title__pic:first-child {
    -webkit-transform: translate(0, 35%);
            transform: translate(0, 35%);
  }
  .title__pic:last-child {
    -webkit-transform: rotateY(180deg) translate(0, 35%);
            transform: rotateY(180deg) translate(0, 35%);
  }
  .team {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .team__item {
    width: 85.9vw;
    height: 104vw;
    margin-bottom: 4%;
  }
  .team__item:nth-child(8) .team__gif {
    height: 81vw;
  }
  .team__button {
    font-size: 4.26vw;
  }
  .team .level {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .team .level > * {
    margin-right: 2px;
    width: 1.066vw;
    height: 2.4vw;
    -webkit-transform: translate(0, 30%);
            transform: translate(0, 30%);
  }
  .team .team__params-item > .name {
    padding-right: .4vw;
  }
  .team__name {
    font-size: 5.33vw;
  }
  .team__info, .team__link a {
    font-size: 3.2vw;
  }
  .content {
    margin-top: 15%;
  }
  .content__text {
    margin: 8% 0;
    font-size: 18px;
  }
  .content__text img {
    width: 15px;
  }
  .btn {
    margin: 12% auto 14%;
    padding: 2.5% 5%;
    font-size: 8.533vw;
  }
}
/*# sourceMappingURL=main.css.map */