footer {
    display:  none;
}
.main {
    position: relative;
    justify-content: space-between;
    width: 100%;
}
pre {
    white-space: pre;
    margin: 0;
    padding: 0;
    font-family: inherit;
}

.team {
    flex-direction: column;
    justify-content: space-between;
    width: 50%;

    &__media {
        width: 82%;
        margin: auto;
        text-align: center;
        overflow: hidden;

        &>img {
            width: 100%;
        }
    }
    
    &__message {
        position: absolute;
        top:21%;
        left:45%;
        width: 26%;
        font-family: Montserrat;
        font-size: 2vw;
        text-transform: uppercase;
        word-spacing: 10px;
        line-height: 1.1;
    }

    &__message>&__container {
        display: none;
    }
}

.team.team--ua {
    // padding-top: 2%;
    & > .team__message {
        position:static;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
    }   

    & > .team__media, .team__picture {
        display: none;
    }

    .team__text {
        width: fit-content;
        margin: 0 auto;
        font-size: 1.8vw;
    }   

    .team__container {
        display: block;
        width: 100%;
        
        & > .team__media {
            width: 57%;
            // display: none;
    
            &>img {
                width: 100%;
            }

        }
    }
}

.language {
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 2.4%;
    font-family: Montserrat;
    // font-size: 4.5vh;
    font-size: 2.5vmax;
    text-transform: uppercase;
    // color: #AFAFAF;
    
    &>* {
        margin-right: 1%;
    }
    
    &__elem {
        padding: 1%;

        // border: 2px solid white;
        transition: border .4s;

        // &--current {
        //     border: 2px solid black;
        // }

        // &:hover {
        //     border: 2px solid black;
        // }

        // &:hover {
        //     border-color: white;
        // }
        // &:hover ~ & {
        //     border-color: white;
        // }
    }

    // & &__elem--current > div {
    //     color: black ;
    // }
    
    // &__elem > div {
    //     color: #AFAFAF;
    // }

    span {
        padding: 1% 1% 0 1%;
    }
}


.nav {
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5% 2% 0 0;
    height: 89.2vh;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Montserrat;
    font-size: 9vw;
    font-weight: 100;

    &>li {
        text-align: right;
    }

    &>li:last-child {
        padding-bottom: 0;
    }
    
    &__link {
        transition: color .3s;
    }

    &__link:hover {
        transition: color .3s;
    }
}

@media  screen and (max-width: 830px) {
    .nav {
        display: none;
    }
    .team {
        width: 100%;
        padding: 0;

        &__media > img[src="media/team3.gif"] {
            transform: scale(1);
        }

        &>&__media  {
            display: none !important
        }

        &__message>&__container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 8% 0;
            width: 100%;
        }

        &__media {
            width: 84%;
        }
        &__picture {
            width: 8%;
            &>* {
                width: 100%;
            }
        }
        &__message {
            position: static;
            padding: 5% 5% 0 5%;
            width: 100%;
            font-size: 9.3vw;
            letter-spacing: normal;
            word-spacing: 15px;
            font-weight: 500;
            line-height: 1.2;
        }
        span {
            padding: 0%;
        }
    }

    .language {
        margin-top: 13%;
        padding-bottom: 3%;
        width: 100%;
        font-size: 6.4vw;
        line-height: 1;

        &__elem {
            border: 1px solid white;
            
            &--current {
                border: 1px solid black;
            }
        }
    }
}