.footer{
    position: relative;
    width: 100%;
    // background-color: black;
    
    &__body{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        margin: 0 auto;
        padding: 1.7vh;
        width: 60%;
        
        // &::before{
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     // background-color: black;
        //     z-index: 2;
        // }
    }
    &__item {
        z-index: 3;
        a {
            font-family: AndaleMono;
            font-size: 2.222vw;
            text-transform: uppercase;
            transition: color .3s;
            
            &:hover{
                transition: color .3s;
            }
        }
        
    }
}

.footer--contacts .footer__item a {
    font-size: 3.628vh;
}

@media  screen and (max-width: 1050px) {   
    .footer--contacts .footer__item a { 
        font-size: 3vw;
    }
}

@media screen and (max-width: 830px){
    .footer{
        &__body{
            padding: 2vh 0 10%;
            width: 87%;
        }
        & &__item>a, &--contacts &__item a{
            font-size: 4.26vw;
        }
    }
}