html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li, menu {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

h1, h2 {
  font-size: inherit;
  font-weight: normal;
}

/* HTML5 display-role reset for older browsers */
footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: AndaleMono;
  src: url("../../fonts/AndaleMono.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat-Medium.ttf");
}

@-webkit-keyframes prompt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes prompt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes headerMenuOpening {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: unset;
    min-height: -webkit-fit-content !important;
    min-height: fit-content !important;
    opacity: 1;
  }
}

@keyframes headerMenuOpening {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: unset;
    min-height: -webkit-fit-content !important;
    min-height: -moz-fit-content !important;
    min-height: fit-content !important;
    opacity: 1;
  }
}

@-webkit-keyframes headerOpening {
  0% {
    min-height: 0;
  }
  75% {
    min-height: 100%;
  }
  100% {
    height: 100%;
  }
}

@keyframes headerOpening {
  0% {
    min-height: 0;
  }
  75% {
    min-height: 100%;
  }
  100% {
    height: 100%;
  }
}

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

*[data-lang="eng"] {
  display: unset;
}

*[data-lang="ua"] {
  display: none;
}

html {
  font-size: 10px;
}

.wrapper {
  position: relative;
  max-width: 100%;
}

u {
  text-decoration: none;
}

.settings, #type-source, #type-loop, .hide, *[data-lang="ua"] {
  display: none;
}

.type-cursor {
  display: inline-block;
  -webkit-transform: translate(0, -10%);
          transform: translate(0, -10%);
  -webkit-animation: prompt .7s infinite;
          animation: prompt .7s infinite;
}

.header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.2% 1.5%;
  font-size: 1.7vw;
  z-index: 4;
}

.header__menu--homepage, .header__menu-button, .header__menu-top {
  display: none;
}

.header__logo > a {
  text-transform: uppercase;
}

.header__logo *, .header__logo {
  font-family: AndaleMono;
}

.header__menu-button, .header__link {
  font-family: AndaleMono;
}

.header__link {
  text-transform: uppercase;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.header__link--current {
  display: none;
}

.header__link:hover {
  -webkit-transition: color .3s;
  transition: color .3s;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.header__list > li:not(li:last-child) {
  margin-right: 9%;
}

@media screen and (max-width: 830px) {
  .type-cursor {
    display: none;
  }
  .typed-cursor {
    display: none;
  }
  .open .header__logo,
  .open .header__menu-button {
    -webkit-animation: prompt 1s;
            animation: prompt 1s;
  }
  .header.open {
    position: fixed;
    top: 0;
    overflow-y: scroll;
    font-size: 5.3vmin;
    -webkit-animation: headerOpening .6s;
            animation: headerOpening .6s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .open > .header__menu {
    visibility: visible;
    -webkit-animation: headerMenuOpening 1s;
            animation: headerMenuOpening 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .open .header__logo,
  .open .spec-violet {
    color: black;
  }
  .header__text,
  .header__line,
  .header.open ~ *,
  .header__mobile-hidden,
  .header.open .header__logo > a:first-child ~ * {
    display: none;
  }
  .header__menu-button,
  .header__menu-top,
  .header__list,
  .header__link--current,
  .header__menu--homepage {
    display: block;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 4.5% 5%;
    width: 100%;
    min-height: 0%;
    word-spacing: 20px;
    font-size: 5.3vw;
    -webkit-transition: min-height .3s;
    transition: min-height .3s;
  }
  .header__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__logo, .header__menu-button {
    letter-spacing: normal;
    word-spacing: normal;
  }
  .header:not(.open) > .header__menu {
    opacity: 0;
  }
  .header__menu {
    width: 100%;
    height: 0;
    visibility: hidden;
  }
  .header__menu--homepage {
    height: 0;
  }
  .header__menu-button {
    text-transform: uppercase;
  }
  .header__menu-top {
    margin: 10vmax 0;
    text-align: center;
  }
  .header__list > li {
    padding-bottom: 6vmax;
    margin-right: 0 !important;
  }
  .header__list > li:before {
    content: '->';
    font-family: AndaleMono;
    font-size: 12.8vmin;
  }
  .header__list a {
    margin-left: 0%;
  }
  .header__menu .header__link {
    font-size: 12.8vmin;
    letter-spacing: normal;
  }
  .header__menu .header__link--current {
    display: block;
  }
}

::-webkit-scrollbar {
  display: none;
}

.main {
  font-family: Montserrat;
}

.message {
  margin: 0 auto;
  padding: 2%;
  text-align: center;
  font-size: 5.555vw;
  line-height: 1.2;
}

.message__pic > * {
  width: 3.8%;
}

.message__content {
  padding: 0 1.5%;
}

.message--bottom {
  padding: 0 4%;
  text-align: left;
}

.btn {
  display: block;
  margin: 8% auto;
  padding: .7% 1.4%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 3.333vw;
  background: #C3C3C3;
  -webkit-box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
          box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
}

.grid__overlay > a:hover,
.btn:hover {
  background-color: #838383;
  -webkit-box-shadow: inset 2px 2px 2px 0 black;
          box-shadow: inset 2px 2px 2px 0 black;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.square-big {
  height: 41.041vw;
}

.square-small, .rect-middle {
  height: 23.82vw;
}

.rect-big {
  height: 35.76vw;
}

.rect-small {
  height: 16.38vw;
}

.stories-big {
  height: 44.79vw;
}

.stories-small {
  height: 41.18vw;
}

.grid__item.stories-smaller-16 {
  height: 36vw;
}

.grid__item.stories-smaller-18 {
  height: 41.32vw;
}

.grid__item.stories-smaller-26 {
  height: 41vw;
}

.grid__item.square-smaller-25 {
  height: 23.5vw;
}

.grid__item.square-smaller-36 {
  height: 18.3vw;
}

.grid {
  padding: 0 0 0 1.38vw;
  margin-bottom: 5%;
}

.grid__img-desktop {
  display: block;
}

.grid__img-mobile {
  display: none;
}

.grid__sizer {
  width: 24.0255vw;
}

.grid__gutter-sizer {
  width: 0.5555vw;
}

.grid__preview, .grid img {
  width: 100%;
  height: 100%;
}

.grid__item {
  position: relative;
  margin: 0.5555vw 0;
  width: 23.47vw;
}

.grid__item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
          box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
}

.grid__item:hover > .grid__overlay {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.grid .grid__item--middlewidth {
  width: 48.051vw;
}

.grid .grid__item--maxwidth {
  width: 72.632vw;
}

.grid__preview {
  width: 100%;
  text-align: center;
}

.grid__preview > img {
  width: 100%;
}

.grid__hot-pic {
  position: absolute;
  top: 5%;
  left: 90%;
  width: 6%;
  z-index: 3;
}

.grid__hot-pic > img {
  width: 100%;
}

.grid__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.grid__overlay > a {
  padding: .7vw 0;
  width: 10.209vw;
  -webkit-box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
          box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
  text-align: center;
  background-color: #C3C3C3;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (max-width: 830px) {
  .grid__item.mobile-square-big {
    width: 96.102vw;
    height: 78.13vw;
  }
  .grid__item.mobile-square-small {
    width: 46.94vw;
    height: 45.3vw;
  }
  .grid__item.mobile-rect-small {
    width: 46.94vw;
    height: 31.2vw;
  }
  .grid__item.mobile-rect-big {
    width: 96.102vw;
    height: 45.3vw;
  }
  .grid__item.mobile-stories {
    width: 46.94vw;
    height: 78.6vw;
  }
  .message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 8.533vw;
    padding: 5% 4%;
  }
  .message__pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 9%;
  }
  .message__pic > svg {
    width: 100%;
  }
  .message__content {
    padding: 0 3%;
    width: 90% !important;
  }
  .message--bottom {
    margin: 0;
    padding: 11% 9.5% 0;
    text-align: center;
  }
  .btn {
    margin: 12% auto 14%;
    padding: 2.5% 5%;
    font-size: 8.533vw;
  }
  .grid {
    padding: 0 0 0 2.222vw;
  }
  .grid__sizer {
    width: 48.051vw;
  }
  .grid__img-desktop {
    display: none;
  }
  .grid__img-mobile {
    display: block;
  }
  .grid__gutter-sizer {
    width: 1.111vw;
  }
  .grid__item {
    margin: 1.111vw 0;
  }
  .grid__hot-pic {
    width: 7%;
    top: 8%;
    left: 89%;
  }
  .grid__overlay > a {
    padding: 2vw 0;
    width: 25.209vw;
  }
}

.footer {
  position: relative;
  width: 100%;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 0 auto;
  padding: 1.7vh;
  width: 60%;
}

.footer__item {
  z-index: 3;
}

.footer__item a {
  font-family: AndaleMono;
  font-size: 2.222vw;
  text-transform: uppercase;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.footer__item a:hover {
  -webkit-transition: color .3s;
  transition: color .3s;
}

.footer--contacts .footer__item a {
  font-size: 3.628vh;
}

@media screen and (max-width: 1050px) {
  .footer--contacts .footer__item a {
    font-size: 3vw;
  }
}

@media screen and (max-width: 830px) {
  .footer__body {
    padding: 2vh 0 10%;
    width: 87%;
  }
  .footer .footer__item > a, .footer--contacts .footer__item a {
    font-size: 4.26vw;
  }
}
/*# sourceMappingURL=style.css.map */